
[data-widget-style-class="a633806ca07c548c"] {--w-mb:var(--weline-space-4);}
[data-widget-style-class="31332dac1a0ef500"] {--w-mb:0;}
[data-widget-style-class="6f1f72c98234c9a2"] {--w-gap:var(--weline-space-3);}
[data-widget-style-class="b56c3d4b7dba8cd3"] {--w-gap:var(--weline-space-2);}
[data-widget-style-class="fe1977536c225e55"] {--w-gap:var(--weline-space-2);}
[data-widget-style-class="c2dc5f2a875bd6a4"] {width:10rem;}
[data-widget-style-class="475cdc0ffbf52fdf"] {--w-mb:0;}
[data-widget-style-class="37a69135d6bbfeb7"] {--w-gap:var(--weline-space-1);}
[data-widget-style-class="198fba75ccd75907"] {--w-mb:0;}
[data-widget-style-class="a8f0696be08211f9"] {--w-mb:0;}
[data-widget-style-class="da86e845cdd21151"] {--w-mb:0;}
[data-widget-style-class="8439ac01d14d3660"] {--w-gap:var(--weline-space-1);list-style:none;padding:0;margin:0;}
[data-widget-style-class="f8ba8289c5d7b423"] {--w-mb:0;}
[data-widget-style-class="d9db45a3251c15a0"] {--w-mb:0;}
