<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <!--文件同步服务分组菜单-->
    <add source="Weline_Async::file_sync_service" name="file_sync_service" title="文件同步服务" action="" parent="Weline_Backend::system_service"
         icon="mdi mdi-sync" order="30300"/>
    
    <!--文件同步管理-->
    <add source="Weline_Async::host" name="host" title="同步主机管理"
         action="async/backend/host" parent="Weline_Async::file_sync_service"
         icon="mdi mdi-server-network" order="10"/>
</menus>
