<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">

    <!-- 问答管理 - 归入 WeShop 内容管理 -->
    <menu source="WeShop_QA::qa_management" name="weshop_qa_management" title="QA Management"
          action="*/backend/qa"
          parent="WeShop_Shop::main"
          icon="mdi mdi-frequently-asked-questions"
          order="30"/>
</menus>
