<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">

    <!-- 购物车管理 - 归入 WeShop 商城 -->
    <menu source="WeShop_Cart::cart_management" name="weshop_cart_management" title="Shopping Cart Management"
          action=""
          parent="WeShop_Shop::main"
          icon="mdi mdi-cart-outline"
          order="50">

        <menu source="WeShop_Cart::cart_list" name="weshop_cart_list" title="Cart Records"
              action="*/backend/cart"
              icon="mdi mdi-cart-check"
              order="10"/>
    </menu>
</menus>
