<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    
   <!-- 开发工作台 -->
   <menu source="Weline_Sticker::sticker_manager" 
         name="sticker_manager" 
         title="Sticker管理" 
         action=""
         parent="Weline_Backend::dev_workspace" 
         icon="mdi mdi-sticker" 
         order="40">
       <menu source="Weline_Sticker::sticker_list" 
            name="sticker_list" 
            title="Sticker列表" 
            action="*/backend/sticker/index"
            icon="mdi mdi-view-list" 
            order="10"/>
       <menu source="Weline_Sticker::sticker_refresh" 
            name="sticker_refresh" 
            title="刷新注册表" 
            action="*/backend/sticker/refresh"
            icon="mdi mdi-refresh" 
            order="20"/>
       <menu source="Weline_Sticker::sticker_manager_test" 
            name="sticker_manager_test" 
            title="Sticker测试" 
            action="*/backend/test/index"
            icon="mdi mdi-flask" 
            order="30"/>
   </menu>
    
</menus>
