<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <menu source="Weline_Blog::list" name="Weline_Blog::list" title="博客文章"
          action="blog/backend/post-admin/index" parent="Weline_Backend::cms_group"
          icon="mdi-post-outline" order="20"/>
</menus>
