<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">

    <!-- 最近浏览管理 - 归入 WeShop 目录管理 -->
    <menu source="WeShop_RecentlyViewed::recently_viewed_management" name="weshop_recently_viewed_management"
          title="Recently Viewed"
          action="*/backend/recentlyViewed"
          parent="WeShop_Product::catalog"
          icon="mdi mdi-history"
          order="80"/>
</menus>
