<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">

    <menu source="WeShop_Promotion::marketing" name="promotion_group" title="Promotion" parent="Weline_Backend::marketing_group"
          icon="mdi mdi-sale" order="15">
        <menu source="WeShop_Promotion::coupon_dashboard" name="promotion_coupon_dashboard" title="Coupon Dashboard"
              action="*/backend/promotion/coupon" icon="mdi mdi-ticket-percent" order="10"/>
    </menu>
</menus>
