<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <menu source="Weline_Deploy::deploy_config"
          name="deploy_config"
          title="部署配置"
          action="deploy/backend/config"
          parent="Weline_Backend::system_maintenance"
          icon="mdi mdi-source-branch"
          order="70"/>
    <menu source="Weline_Deploy::release_management"
          name="release_management"
          title="发布管理"
          action=""
          parent="Weline_Backend::system_maintenance"
          icon="mdi mdi-rocket-launch-outline"
          order="71">
        <menu source="Weline_Deploy::release_control"
              name="release_control"
              title="发布控制"
              action="deploy/backend/release-control"
              icon="mdi mdi-source-branch-sync"
              order="10"/>
        <menu source="Weline_Deploy::deploy_release"
              name="deploy_release"
              title="发布历史"
              action="deploy/backend/release"
              icon="mdi mdi-history"
              order="20"/>
        <menu source="Weline_Deploy::core_update"
              name="core_update"
              title="核心更新"
              action="deploy/backend/core-update"
              icon="mdi mdi-update"
              order="30"/>
    </menu>
</menus>
