<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">

    <!-- 配送管理 - 归入配送与物流 -->
    <menu source="WeShop_Shipping::shipping_management" name="weshop_shipping_management" title="Shipping"
          action="*/backend/shipping"
          parent="Weline_Backend::shipping_group"
          icon="mdi mdi-truck-delivery-outline"
          order="10"/>
</menus>
