<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <menu source="WeShop_B2B::company_management"
          name="weshop_b2b_company_management"
          title="B2B Companies"
          action="*/backend/company"
          parent="Weline_Backend::customer_group"
          icon="mdi mdi-domain"
          order="35"/>
    <menu source="WeShop_B2B::b2b_credit"
          name="weshop_b2b_credit"
          title="B2B Credit Lines"
          action="*/backend/credit"
          parent="Weline_Backend::customer_group"
          icon="mdi mdi-credit-card-outline"
          order="36"/>
    <menu source="WeShop_B2B::b2b_account"
          name="weshop_b2b_account"
          title="B2B Trade Accounts"
          action="*/backend/account"
          parent="Weline_Backend::customer_group"
          icon="mdi mdi-bank-outline"
          order="37"/>
    <menu source="WeShop_B2B::b2b_customer_profile"
          name="weshop_b2b_customer_profile"
          title="B2B Enterprise Customers"
          action="*/backend/b2b-customer"
          parent="Weline_Backend::customer_group"
          icon="mdi mdi-office-building"
          order="38"/>
    <menu source="WeShop_B2B::b2b_receivable"
          name="weshop_b2b_receivable"
          title="B2B Receivables"
          action="*/backend/receivable"
          parent="Weline_Backend::customer_group"
          icon="mdi mdi-file-document-outline"
          order="39"/>
    <menu source="WeShop_B2B::b2b_report"
          name="weshop_b2b_report"
          title="B2B AR Summary"
          action="*/backend/b2b-report"
          parent="Weline_Backend::customer_group"
          icon="mdi mdi-chart-box-outline"
          order="40"/>
</menus>
