<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <menu source="WeShop_B2B::company_management"
          name="weshop_b2b_company_management"
          title="B2B Companies"
          action="*/backend/company"
          parent="Weline_Backend::customer_group"
          icon="mdi mdi-domain"
          order="35"/>
</menus>
