<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <menu source="WeShop_Report::sales"
          name="weshop_report_sales"
          title="Sales Report"
          action="/*/backend/report/sales"
          parent="Weline_Backend::data_tools_group"
          icon="mdi mdi-chart-areaspline"
          order="10"/>
</menus>
