<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <menu source="WeShop_Inventory::inventory_management"
          name="weshop_inventory_management"
          title="Inventory Management"
          action="/*/backend/inventory/source"
          parent="Weline_Backend::shop_group"
          icon="mdi mdi-warehouse"
          order="50">
        <menu source="WeShop_Inventory::source"
              name="weshop_inventory_source"
              title="Sources"
              action="/*/backend/inventory/source"
              icon="mdi mdi-home-city-outline"
              order="10"/>
        <menu source="WeShop_Inventory::source_item"
              name="weshop_inventory_source_item"
              title="Source Items"
              action="/*/backend/inventory/source-item"
              icon="mdi mdi-package-variant-closed"
              order="20"/>
    </menu>
</menus>
