<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <menu source="Weline_Customer::customer_index"
          name="customer_index"
          title="客户列表"
          action="customer/backend/customer/index"
          parent="Weline_Backend::customer_group"
          icon="mdi mdi-account-multiple-outline"
          order="10"/>
    <menu source="Weline_Customer::contact_index"
          name="contact_index"
          title="客户联系表单"
          action="customer/backend/contact/index"
          parent="Weline_Backend::customer_group"
          icon="mdi mdi-card-account-mail-outline"
          order="20"/>
</menus>
