<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <add source="Weline_Customer::customer_root"
         name="customer_root"
         title="前端客户"
         action=""
         parent="Weline_Backend::business_module"
         icon="mdi mdi-account-group"
         order="12000"/>

    <add source="Weline_Customer::customer_index"
         name="customer_index"
         title="客户列表"
         action="customer/backend/customer/index"
         parent="Weline_Customer::customer_root"
         icon="mdi mdi-account-multiple"
         order="10"/>
</menus>

