<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">

    <!-- 退换货管理 - 归入订单管理 -->
    <menu source="WeShop_RMA::rma_management" name="weshop_rma_management" title="RMA Management"
          action="*/backend/rma"
          parent="Weline_Backend::order_group"
          icon="mdi mdi-archive-arrow-down-outline"
          order="30"/>
</menus>
