<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <!-- SEO 管理主菜单 -->
    <add source="Weline_Seo::seo_management"
         name="seo_management"
         title="SEO管理"
         action=""
         parent="Weline_Backend::business_module"
         icon="mdi mdi-google-analytics"
         order="5000"/>

    <add source="Weline_Seo::seo_dashboard"
         name="seo_dashboard"
         title="SEO总览"
         action="seo/backend/dashboard"
         parent="Weline_Seo::seo_management"
         icon="mdi mdi-view-dashboard-outline"
         order="10"/>

    <add source="Weline_Seo::seo_subject_detail"
         name="seo_subject_detail"
         title="主体详情"
         action="seo/backend/dashboard/subject"
         parent="Weline_Seo::seo_management"
         icon="mdi mdi-file-chart-outline"
         order="20"/>

    <!-- SEO 账户管理 -->
    <add source="Weline_Seo::seo_account"
         name="seo_account"
         title="SEO账户"
         action="seo/backend/account/index"
         parent="Weline_Seo::seo_management"
         icon="mdi mdi-account-key"
         order="30"/>
</menus>



