<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    
    <!-- 消息服务 - 归入系统管理 > 系统服务 -->
    <menu source="Weline_Queue::message_service" name="message_service" title="消息队列" action="" 
         parent="Weline_Backend::system_service_group"
         icon="mdi mdi-message-processing-outline" order="20">
        
        <menu source="Weline_Queue::listing" name="queue_listing" title="队列列表"
             action="*/backend/queue"
             icon="mdi mdi-view-list-outline" order="10"/>
        
        <menu source="Weline_Queue::type" name="queue_type" title="队列类型"
             action="*/backend/type"
             icon="mdi mdi-shape-outline" order="20"/>
    </menu>
</menus>
