<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <!-- 网站管理菜单项 -->
    <add source="Weline_Websites::website"
         name="websites"
         title="网站管理"
         action="*/admin/website/index"
         parent="Weline_Backend::system_configuration"
         icon="mdi mdi-web"
         order="10"/>
</menus>
