<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <menu source="Weline_Websites::website_service"
          name="website_service"
          title="&#32593;&#31449;&#26381;&#21153;"
          action=""
          parent="Weline_Backend::system_service_group"
          icon="mdi mdi-web"
          order="40">

        <menu source="Weline_Websites::website"
              name="websites"
              title="&#32593;&#31449;&#31649;&#29702;"
              action="websites/admin/website/index"
              icon="mdi mdi-web"
              order="10"/>

        <menu source="Weline_Websites::website_acl_grant"
              name="website_acl_grant"
              title="&#32593;&#31449;&#21151;&#33021;&#25480;&#26435;"
              action="websites/backend/website-acl-grant/index"
              icon="mdi mdi-shield-key-outline"
              order="11"/>

        <menu source="Weline_Websites::store_management"
              name="store_management"
              title="&#21830;&#24215;&#31649;&#29702;"
              action="websites/backend/scope-management/stores"
              icon="mdi mdi-storefront-outline"
              order="12"/>

        <menu source="Weline_Websites::sales_channel_management"
              name="sales_channel_management"
              title="&#28192;&#36947;&#31649;&#29702;"
              action="websites/backend/scope-management/channels"
              icon="mdi mdi-source-branch"
              order="14"/>

        <menu source="Weline_Websites::domain_service"
              name="domain_service"
              title="&#22495;&#21517;&#26381;&#21153;"
              action="websites/admin/domain/index"
              icon="mdi mdi-domain"
              order="20"/>

        <menu source="Weline_Websites::website_maintenance"
              name="website_maintenance"
              title="&#32593;&#31449;&#32500;&#25252;"
              action="websites/backend/maintenance"
              icon="mdi mdi-tools"
              order="30"/>

        <menu source="Weline_Websites::website_backup"
              name="website_backup"
              title="&#32593;&#31449;&#22791;&#20221;"
              action="websites/backend/backup"
              icon="mdi mdi-backup-restore"
              order="40"/>

        <menu source="Weline_Websites::store_copy"
              name="store_copy"
              title="Store &#21830;&#21697;&#22797;&#21046;"
              action="websites/admin/store-copy/wizard"
              icon="mdi mdi-content-copy"
              order="50"/>

        <menu source="Weline_Websites::provisioning"
              name="websites_provisioning"
              title="&#19968;&#31449;&#24335;&#37197;&#32622;&#35746;&#21333;"
              action="websites/backend/provisioning/index"
              icon="mdi mdi-cogs"
              order="55"/>
    </menu>
</menus>
