<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    
    <!-- SEO优化分组菜单 -->
    <menu source="Weline_UrlManager::seo_optimization" 
          name="seo_optimization" 
          title="SEO优化" 
          parent="Weline_Backend::business_operations" 
          icon="mdi mdi-search-web" 
          order="12000">
        
        <!-- URL管理器 -->
        <menu source="Weline_UrlManager::url_manager" 
              name="url_manager" 
              title="URL管理器" 
              icon="mdi mdi-router" 
              order="10">
            
            <menu source="Weline_UrlManager::url_manager_listing" 
                  name="url_manager_listing" 
                  title="URL路由列表" 
                  action="url-manager/backend/url/listing"
                  icon="mdi mdi-router" 
                  order="10"/>
            
            <menu source="Weline_UrlManager::url_manager_rewrite" 
                  name="url_manager_rewrite" 
                  title="URL路由重写" 
                  action="url-manager/backend/rewriter"
                  icon="mdi mdi-lock-reset" 
                  order="20"/>
        </menu>
    </menu>
</menus>
