<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <menu source="Weline_Faq::page" name="help_page" title="帮助中心"
          action="faq/backend/page/listing" parent="Weline_Backend::cms_group"
          icon="faq-circle" order="25"/>
</menus>
