<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <menu source="WeShop_Payment::payment"
          name="weshop_payment"
          title="支付方式"
          action="/*/backend/payment"
          parent="Weline_Backend::payment_group"
          icon="mdi mdi-credit-card-settings-outline"
          order="10"/>
</menus>
