<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    
    <!-- 商品管理下的筛选配置 -->
    <menu source="WeShop_Filters::config" name="weshop_catalog_filters" title="筛选配置" 
         action="weshop/filters/backend/config"
         parent="WeShop_Product::catalog"
         icon="mdi mdi-filter-outline"
         order="50">
        
        <!-- 价格区间配置 -->
        <menu source="WeShop_Filters::price_ranges" name="weshop_catalog_price_ranges" title="价格区间" 
             action="weshop/filters/backend/config/price-ranges"
             icon="mdi mdi-currency-usd"
             order="10"/>
    </menu>
</menus>
