<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    
    <!-- 搜索引擎配置管理菜单 -->
    <menu source="WeShop_Search::search_engine_management" 
         name="search_engine_management" 
         title="搜索引擎配置" 
         action="search/backend/engine/index"
         parent="Weline_Backend::system_service" 
         icon="mdi mdi-magnify" 
         order="50"/>
    
</menus>
