<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <menu source="WeShop_Affiliate::affiliate_management"
          name="weshop_affiliate_management"
          title="Affiliate Management"
          action="*/backend/affiliate"
          parent="Weline_Backend::marketing_group"
          icon="mdi mdi-handshake-outline"
          order="30"/>
</menus>
