<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:weline:framework:router:etc/routes.xsd">
    <router area="frontend_rest_api">
        <route path="/api/v1/chat" method="POST">
            <module>Weline_Ai</module>
            <controller>Api\Chat</controller>
            <action>post</action>
        </route>
        
        <route path="/api/v1/model/:id" method="GET">
            <module>Weline_Ai</module>
            <controller>Api\Model</controller>
            <action>get</action>
        </route>
        
        <route path="/api/v1/model/:id/copy" method="POST">
            <module>Weline_Ai</module>
            <controller>Api\Model</controller>
            <action>copy</action>
        </route>
        
        <route path="/api/v1/model/:id" method="DELETE">
            <module>Weline_Ai</module>
            <controller>Api\Model</controller>
            <action>delete</action>
        </route>
        
        <route path="/api/v1/api-key" method="POST">
            <module>Weline_Ai</module>
            <controller>Api\ApiKey</controller>
            <action>post</action>
        </route>
        
        <route path="/api/v1/api-key" method="GET">
            <module>Weline_Ai</module>
            <controller>Api\ApiKey</controller>
            <action>get</action>
        </route>
        
        <route path="/api/v1/api-key/:id" method="GET">
            <module>Weline_Ai</module>
            <controller>Api\ApiKey</controller>
            <action>getOne</action>
        </route>
        
        <route path="/api/v1/api-key/:id" method="DELETE">
            <module>Weline_Ai</module>
            <controller>Api\ApiKey</controller>
            <action>delete</action>
        </route>
    </router>
</config>

