<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">

    <!-- 价格管理 - 归入 WeShop 目录管理 -->
    <menu source="WeShop_Price::price_management" name="weshop_price_management" title="Price Management"
          action="*/backend/price"
          parent="WeShop_Product::catalog"
          icon="mdi mdi-currency-usd"
          order="70"/>
</menus>
