<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">

    <!-- 收藏夹管理 - 归入 WeShop 目录管理 -->
    <menu source="WeShop_Wishlist::wishlist_management" name="weshop_wishlist_management" title="Wishlist Management"
          action="*/backend/wishlist"
          parent="WeShop_Product::catalog"
          icon="mdi mdi-heart-outline"
          order="90"/>
</menus>
