<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    
    <!-- WeShop CMS页面管理 - 归入内容管理 > 内容系统 -->
    <menu source="WeShop_Cms::cms_page_management" 
         name="weshop_cms_page_management" 
         title="WeShop页面" 
         action="cms/backend/page/index"
         parent="Weline_Backend::cms_group" 
         icon="mdi mdi-storefront-outline" 
         order="40"/>
    
</menus>
