<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <menu source="Weline_Trash::item" name="trash_item" title="回收站"
          action="trash/backend/item/listing" parent="Weline_Backend::system_maintenance"
          icon="mdi mdi-delete-restore" order="45"/>
</menus>
