
[data-widget-style-class="1f0e83bcbc523c43"] {--w-stat-tile-min:7.5rem;--w-gap:var(--weline-space-3);}
[data-widget-style-class="425f46d8f7211ec6"] {--w-pt:var(--weline-space-3);--w-pb:var(--weline-space-3);--w-ps:var(--weline-space-3);--w-pe:var(--weline-space-3);}
[data-widget-style-class="b153a61d4e0fc36d"] {--w-font-size:1.375rem;}
[data-widget-style-class="995c2ad754eca402"] {--w-mt:var(--weline-space-2);}
[data-widget-style-class="ab3c288d4ce1a13b"] {--w-mt:var(--weline-space-1);}
