<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    
    <!-- 事件管理 - 归入开发者 > 事件与扩展 -->
    <menu source="Weline_Event::event_index" name="event_index" title="事件列表" 
          action="*/backend/event" parent="Weline_Backend::event_extend_group" 
          icon="mdi mdi-lightning-bolt-outline" order="10"/>
</menus>
