<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">

    <!-- Pages & Views - 归入 WeShop 商城 -->
    <menu source="WeShop_Frontend::frontend_management" name="weshop_frontend_management" title="Storefront Pages"
          action=""
          parent="WeShop_Shop::main"
          icon="mdi mdi-web"
          order="50"/>
</menus>
