<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <menu source="WeShop_GiftCard::gift_card_management"
          name="weshop_gift_card_management"
          title="Gift Card Management"
          action="/*/backend/gift-card"
          parent="Weline_Backend::marketing_group"
          icon="mdi mdi-card-giftcard"
          order="18"/>
</menus>
