<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:weline:framework:module:etc/module.xsd">
    <module name="Aws_Domains" setup_version="1.0.0">
        <sequence>
            <module name="Weline_Framework"/>
            <module name="Weline_Backend"/>
        </sequence>
    </module>
</config>
