<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    
    <!-- 可视化编辑器 - 归入开发者 > 编辑器与组件 -->
    <menu source="Weline_Widget::editor" name="editor" title="可视化编辑器" action="*/backend/editor"
          parent="Weline_Backend::editor_component_group" icon="mdi mdi-pencil-ruler" order="10">
        
        <!-- 部件管理 -->
        <menu source="Weline_Widget::widget_management" name="widget_management" title="部件管理" action="*/backend/widget"
              icon="mdi mdi-puzzle-outline" order="10"/>
    </menu>
</menus>
