<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <menu source="Weline_Server::wls_panel"
          name="wls_panel"
          title="WLS Panel"
          parent="Weline_Backend::system_service_group"
          action="*/backend/wls-panel"
          icon="mdi mdi-view-dashboard"
          order="10"/>
</menus>
