<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    
    <!-- 模组管理 - 归入开发者 > 模组管理 -->
    <menu source="Weline_ModuleManager::module-manager" name="module-manager" title="已安装模块" action="module-manager/backend/listing"
          parent="Weline_Backend::module_group" icon="mdi mdi-package-variant-closed" order="10" is_backend="1"/>
</menus>
