<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <!--Shopify订单管理-->
    <!--Shopify订单管理-主菜单-->
    <add source="FlashForge_ShopifyOrderManager::main" name="shopify_order_main" title="Shopify订单" action="shopify/backend/order/index"
         parent="Weline_Backend::dashboard" icon="fas fa-shopping-cart" order="100"/>
    <!--Shopify订单管理-订单管理-->
    <add source="FlashForge_ShopifyOrderManager::order_manage" name="shopify_order_manage" title="订单管理" action="shopify/backend/order/index"
         parent="FlashForge_ShopifyOrderManager::main" icon="fas fa-list" order="1"/>
    <!--Shopify订单管理-店铺管理-->
    <add source="FlashForge_ShopifyOrderManager::shop_manage" name="shopify_shop_manage" title="店铺管理" action="shopify/backend/shop/index"
         parent="FlashForge_ShopifyOrderManager::main" icon="fas fa-store" order="2"/>
    <!--Shopify订单管理-飞书通知配置-->
    <add source="FlashForge_ShopifyOrderManager::config_manage" name="shopify_feishu_config" title="飞书通知配置" action="shopify/backend/config/feishu"
         parent="FlashForge_ShopifyOrderManager::main" icon="fas fa-bell" order="3"/>
</menus>
