<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">

    <!-- 文件管理 - 归入内容管理 > 媒体管理 -->
    <menu source="Weline_MediaManager::file_manager"
          name="file_manager"
          title="文件管理"
          action="media/backend/manager"
          parent="Weline_Backend::media_group"
          icon="mdi mdi-folder-image"
          order="10"/>

</menus>
