<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <menu source="WeShop_ImportExport::import_export"
          name="weshop_import_export"
          title="导入导出"
          action="/*/backend/import-export"
          parent="Weline_Backend::data_tools_group"
          icon="mdi mdi-database-import-outline"
          order="20"/>
</menus>
