<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Weline Framework - 后台菜单配置
 *
 * @author Aiweline
 * @email aiweline@qq.com
 */
-->
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    
    <!-- 环境管理 -->
    <menu source="Weline_Framework::env_manager" 
          name="env_manager" 
          title="环境管理" 
          action="backend/framework/env-manager"
          parent="Weline_Backend::system_service_group" 
          icon="bi-cpu" 
          order="90"/>
</menus>
