<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">

    <!-- 商品对比管理 - 归入 WeShop 目录管理 -->
    <menu source="WeShop_Compare::compare_management" name="weshop_compare_management" title="Compare Management"
          action="*/backend/compare"
          parent="WeShop_Product::catalog"
          icon="mdi mdi-compare-horizontal"
          order="60"/>
</menus>
