<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    
    <!-- Hook管理 - 归入开发者 > 事件与扩展 -->
    <menu source="Weline_Hook::hook_index" name="hook_index" title="Hook 列表" 
          action="*/backend/hook" parent="Weline_Backend::event_extend_group" 
          icon="mdi mdi-hook" order="20"/>
</menus>
