<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:weline:module:Weline_Framework::etc/xsd/module.xsd">
    <module name="Weline_Bt_Center" setup_version="1.0.0">
        <sequence>
            <module name="Weline_Backend"/>
            <module name="Weline_Framework"/>
        </sequence>
    </module>
</config>
