<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    
    <!-- 国际化菜单项 - 归入系统管理 > 国际化 -->
    
    <!-- 本地化 -->
    <menu source="Weline_I18n::i18n_localization" name="i18n_localization" title="本地化" action="/i18n/backend/localization"
          parent="Weline_Backend::i18n_group"
          icon="mdi mdi-earth"
          order="10"/>
    
    <!-- 国家 -->
    <menu source="Weline_I18n::i18n_countries" name="i18n_countries" title="国家" action="/i18n/backend/countries"
          parent="Weline_Backend::i18n_group"
          icon="mdi mdi-flag-outline"
          order="20"/>
    
    <!-- 词典 -->
    <menu source="Weline_I18n::i18n_dictionaries" name="i18n_dictionaries" title="词典" action="/i18n/backend/dictionary"
          parent="Weline_Backend::i18n_group"
          icon="mdi mdi-book-open-page-variant-outline"
          order="30"/>
</menus>
