<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <menu source="Weline_Bt_Center::bt_server"
          name="bt_server"
          title="BT 管理中心"
          action="*/backend/bt-server"
          parent="Weline_Backend::other_tools_group"
          icon="mdi mdi-server-network"
          order="6000"/>
</menus>
