<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <!-- 宝塔管理中心主菜单 -->
    <add source="Weline_Bt_Center::bt_center"
         name="bt_center"
         title="宝塔管理"
         action=""
         parent="Weline_Backend::system_module"
         icon="mdi mdi-server-network"
         order="6000"/>

    <!-- 宝塔服务器管理 -->
    <add source="Weline_Bt_Center::bt_server"
         name="bt_server"
         title="宝塔服务器"
         action="bt_center/backend/bt_server/index"
         parent="Weline_Bt_Center::bt_center"
         icon="mdi mdi-server"
         order="10"/>
</menus>
