<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <menu source="WeShop_Logistics::tracking_management"
          name="weshop_logistics_tracking_management"
          title="Tracking Management"
          action="/*/backend/tracking"
          parent="Weline_Backend::shipping_group"
          icon="mdi mdi-truck-fast-outline"
          order="20"/>
</menus>
