<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <menu source="Weline_CustomerService::customer_service" 
         name="customer_service" 
         title="客服服务" 
         action=""
         parent="Weline_Backend::system_service_group"
         icon="circle"
         order="100">
        <menu source="Weline_CustomerService::config" 
             name="customer_service_config" 
             title="客服配置" 
             action="*/backend/config"
             icon="settings"
             order="10"/>
        <menu source="Weline_CustomerService::agent" 
             name="customer_service_agent" 
             title="客服人员" 
             action="*/backend/agent"
             icon="user"
             order="20"/>
        <menu source="Weline_CustomerService::console" 
             name="customer_service_console" 
             title="客服工作台" 
             action="*/backend/console"
             icon="grid"
             order="25"/>
        <menu source="Weline_CustomerService::session" 
             name="customer_service_session" 
             title="会话管理" 
             action="*/backend/session"
             icon="message"
             order="30"/>
    </menu>
</menus>
