<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <add source="WelineTools_PsdParser::psd-tool" name="psd-tool" title="PSD 解析器" action=""
         parent="Weline_Backend::system_configuration" icon="mdi mdi-image-multiple" order="22100" is_backend="1"/>

    <add source="WelineTools_PsdParser:psd_parser_index" name="psd_parser_index" title="PSD 在线解析" action="psdparser/backend/index/index"
         parent="WelineTools_PsdParser::psd-tool" icon="mdi mdi-file-image" order="1" is_backend="1"/>
</menus>
