<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    
    <menu source="Weline_Shipping::shipping_system" name="shipping_system" title="配送总览"
          action="shipping/backend/manager/index" parent="Weline_Backend::shipping_group"
          icon="grid" order="10"/>
    <menu source="Weline_Shipping::shipping_address" name="shipping_address" title="发货地址"
          action="shipping/backend/shippingaddress/index" parent="Weline_Backend::shipping_group"
          icon="truck" order="20"/>
    <menu source="Weline_Shipping::delivery_address" name="delivery_address" title="运送地址"
          action="shipping/backend/deliveryaddress/index" parent="Weline_Backend::shipping_group"
          icon="truck" order="30"/>
    <menu source="Weline_Shipping::region" name="shipping_region" title="地区管理"
          action="shipping/backend/region/index" parent="Weline_Backend::shipping_group"
          icon="pin" order="40"/>
    <menu source="Weline_Shipping::zone" name="shipping_zone" title="配送区域"
          action="shipping/backend/zone/index" parent="Weline_Backend::shipping_group"
          icon="circle" order="50"/>
    <menu source="Weline_Shipping::carrier" name="shipping_carrier" title="快递公司"
          action="shipping/backend/carrier/index" parent="Weline_Backend::shipping_group"
          icon="truck" order="60"/>
    <menu source="Weline_Shipping::rate_template" name="shipping_rate_template" title="费用模板"
          action="shipping/backend/ratetemplate/index" parent="Weline_Backend::shipping_group"
          icon="circle" order="70"/>
    <menu source="Weline_Shipping::free_shipping_rule" name="shipping_free_rule" title="免邮规则"
          action="shipping/backend/freeshippingrule/index" parent="Weline_Backend::shipping_group"
          icon="circle" order="80"/>
    <menu source="Weline_Shipping::shipping_service" name="shipping_service" title="配送服务"
          action="shipping/backend/shippingservice/index" parent="Weline_Backend::shipping_group"
          icon="check" order="90"/>
    <menu source="Weline_Shipping::tracking" name="shipping_tracking" title="物流跟踪"
          action="shipping/backend/tracking/index" parent="Weline_Backend::shipping_group"
          icon="search" order="100"/>
</menus>
